<% content_for :header_tags do %>
  <%= stylesheet_link_tag '/plugin_assets/chili_videos/stylesheets/videos' %>
<% end %>

<div class="contextual">
  <%= link_to(l(:new_video_label), new_project_video_path(@project), :class => 'icon icon-add') if User.current.allowed_to?(:add_video, nil, :global => true) %>
</div>

<h2>Videos (newest first)</h2>

<%- if @videos.empty? %>
  <p class="nodata">
    No videos uploaded yet!
    <%= link_to "Add one...", new_project_video_path(@project) if User.current.allowed_to?(:add_video, nil, :global => true) %>
  <p>
<%- else %>
  <%= video_thumbnail_list(@videos) %>
<%- end %>
