<h2>Video plugin not configured...</h2>

<p class="warning">
  You must add your Transload.it account's API and workflow keys before you can upload videos. You can add your credentials on
  <%= link_to "the plugin settings page", {:controller => 'settings', :action => 'plugin', :id => 'chili_videos'} %>.
</p>
