<h2>Upload complete!</h2>

<p>
  We have a little bit of work left before your video is ready to be shared. Come back in a few minutes and we should be good to go...
</p>

<%= link_to("Back to list of videos", project_videos_path(@project)) %>
